<%- include("partials/header"); %>
<form action="/users/resetPass" method="POST">
  Email : <input type="email" placeholder="Email" name="email">
  <button type="submit">Submit</button>
</form>

</body>

</html>