<%- include("partials/header"); %>

<h3>Detailed Logs</h3>
<h5>Income</h5>
<hr>
<!-- <div>
  Category - <span>Food</span><br>
  Amount - <span>12000</span><br>
  Date - <span>22/11//100</span>
</div>
<hr> -->
<h5>Expense</h5>
<!-- <div>
  Category - <span>Food</span><br>
  Amount - <span>12000</span><br>
  Date - <span>22/11//100</span>
</div>
<hr> -->
</body>

</html>