<%- include("partials/header"); %>
<form action="/users/confirmPass/<%= id %>" method="POST">
  New Password : <input type="password" placeholder="Password" name="password"><br>
  Confirm Password : <input type="password" placeholder="Confirm Password" name="confirmPass"><br>
  <button type="submit">Reset</button>

</form>
</body>

</html>